<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Slave 2</title>
</head>
<body>
  <script type="text/javascript">
    /*
      It is a script for the second slave
    */
    var api_url = "api/v2/some_api1";
  </script>
  <script type="text/javascript" src="/static/js/slave_script.js"></script>
  <a href="/">Go to the master page</a>
  <form action="/api/v2/some_api2">
  </form>
  <a href="/slave2/subpage">An subpage</a>
  <a href="https://vk.com">VK</a>
</body>
</html>
